.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2em;
  color: darkslateblue;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btns {
  min-width: 450px;
  display: flex;
  justify-content: space-between;
}

.btns > button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: darkslateblue;
  font-size: 1.5em;
  color: antiquewhite;
  transition: 0.5s all;
  border-radius: 5px;
  margin: 0 5px;
}

.btns > button:hover {
  background-color: antiquewhite;
  color: darkslateblue;
}

.user {
  min-width: 100px;
  margin-top: 20px;
  border: 2px solid darkslateblue;
  color: darkslateblue;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.user > button {
  border: none;
  color: antiquewhite;
  background-color: darkslateblue;
  border-radius: 5px;
  cursor: pointer;
}
